{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true
  },
  "rules": {
    "max-len": 0,
    "new-cap": 0,
    "react/prefer-stateless-function": 0,
    "react/prop-types": 0,
    "react/jsx-no-bind": 0,
    "comma-dangle": 0
  },
  "globals": {
    "__DEVELOPMENT__": true
  }
}
